html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  body {
    margin: -10px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
:root {
  --color: orange;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*small*/
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*larg*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header */
.header {
  position: relative;
  background-color: black;
  padding: 10px;
}
.header .container {
  display: flex;
  justify-content: space-between;
}

.header p {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.header span {
  color: var(--color);
  font-weight: 100;
}
.header .links {
  display: flex;
  align-items: center;
}
.header .links li {
  position: relative;
}
.header .links li a {
  display: inline-block;
  margin: 20px;
  color: #ffffffcf;

  position: relative;
}
.header .links li a::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -10px;
  background-color: white;
  transition: 0.5s;
}
.header .links li a:hover::before {
  width: 100%;
}

/* start media section header */
@media (max-width: 768px) {
  .header .container {
    display: flex;
    flex-direction: column;
  }
  .header .links li a {
    margin: 7px;
  }
  .header .logo {
    margin: 20px auto;
  }
}

/* end media section header */
/* End header */
/* start header */
.section2 {
  position: relative;
  background: url(../photo/background.jpg);
  width: 100%;
  height: 580px;
  background-size: contain;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section2 .container {
  display: flex;
  justify-content: space-between;
}
.section2 .text {
}
.section2 .text .logo {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.section2 .text p span {
  color: var(--color);
  font-weight: 100;
  font-size: 70px;
}
.section2 .text h1 {
  color: white;
  font-weight: 200;
  position: relative;
}
.section2 .text h1::before {
  content: "";
  position: absolute;
  bottom: -11px;
  width: 12%;
  height: 1px;
  background: white;
}

.section2 .text p {
  color: #eee;
  font-weight: 200;
  width: 474px;
}
.section2 .text button {
  margin-top: 30px;
  background: none;
  color: white;
  border: 1px solid white;
  padding: 7px;
}
.section2 form {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}
.section2 form h1 {
  background: #eee;
  font-size: 29px;
  width: 320px;
  text-align: center;
  padding: 5px;
  position: relative;
  bottom: 20px;
}
.section2 form h1 span {
  color: var(--color);
}
.section2 form input {
  margin: 20px;
  border: none;
  border-bottom: 1px solid #00000040;
}
.section2 form input:focus {
  outline: none;
}
.section2 form input::placeholder {
  margin-left: 20px;
}
.section2 form button {
  background: #bf7810;
  padding: 18px;
  border: none;
  color: white;
  position: relative;
  top: 20px;
}
/* start container */

@media (max-width: 992px) {
  .section2 {
    height: 100%;
  }
  .section2 .container {
    display: flex;
    flex-direction: column;
  }

  .section2 form {
    margin-top: 40px;
  }
  .section2 form h1 {
    text-align: center;
    margin: 20px auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .section2 {
    height: 100%;
  }
  .section2 .container {
    display: flex;
    flex-direction: column;
  }
  .section2 .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section2 form {
    margin-top: 113px;
  }
  .section2 .text p {
    width: 275px;
  }
}
/* end container */
/* end header */
/* start social */
.section3 {
  background: white;
  position: relative;
  padding-top: 0px;
  padding-bottom: 9px;
  border-bottom: 3px solid #9e9e9e;
}
.section3 .container {
  display: flex;
  justify-content: space-between;
}

.section3 .text h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 10px;
}
.section3 .text p {
  width: 620px;
  margin: 10px;
  color: #9e9e9e;
}
.section3 .icon {
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
}
.section3 .icon i {
  margin: 32px;
  font-size: 47px;
  transition: 0.5s;
  color: #eee;
  color: #9e9e9e;
}
.section3 .icon i:hover {
  color: var(--color);
}
/* start media sectio3 */
@media (max-width: 992px) {
  .section3 .container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .section3 .container {
    display: flex;
    flex-direction: column;
  }
  .section3 .text p {
    width: 100%;
  }
  .section3 .icon i {
    margin: 6px;
    font-size: 39px;
  }
}
@media (max-width: 1200px) {
  .section3 .icon i {
    margin: 7px;
    font-size: 20px;
  }
}
/* end social */
/* start section4 */
.section4 {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #ddd;
}
.section4 .container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.section4 table {
  border: none;
}
.section4 tr {
  background: #000000eb;
  color: white;
  font-weight: bold;
}
.section4 .active {
  background: #bf7810;
}
.section4 tr td {
  padding: 30px;
}
.section4 .text {
  margin: -9px;
}
.section4 .text h3 {
  margin: 20px;
}
.section4 .text p {
  color: #9e9e9e;
  margin: 20px;
}
.section4 .text button {
  border: none;
  background: #bf7810;
  padding: 10px;
  color: white;
  margin: 20px;
}
/* start media section4 */
@media (max-width: 992px) {
  .section4 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .section4 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

/* end section4 */
/* start section5 */
.section5 {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}
.section5 .container {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}
.section5 img {
  width: 400px;
}

.section5 .text h2 {
  margin: 30px;
  position: relative;
}
.section5 .text h2::before {
  content: "";
  width: 12%;
  height: 2px;
  background-color: #bf7810;
  position: absolute;

  bottom: -15px;
}
.section5 .text p {
  margin: 30px;
  color: #9e9e9e;
}

.section5 .text .pargraph-icon {
  display: flex;
  margin: 29px;
}
.section5 .text .pargraph-icon i {
  color: orange;
  padding: 10px;

  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  margin: 20px auto;
  display: flex;
}
.section5 .text .pargraph-icon h3 {
  margin-left: 40px;
}

.section5 .text .pargraph-icon p {
  margin-left: -30px;
  color: #9e9e9e;
}
/* start media section5 */
@media (max-width: 992px) {
  .section5 .container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .section5 .container {
    display: flex;
    flex-direction: column;
  }
  .section5 img {
    width: 300px;
  }
  .section5 .pargraph-icon i {
    height: 80px;
  }
}
/* end section5 */
/* start section6 */
.section6 {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #ddd;
}
.section6 .container {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.section6 .text h2 {
  margin: 70px;
  position: relative;
}
.section6 .text h2::before {
  content: "";
  width: 12%;
  height: 2px;
  background-color: #bf7810;
  position: absolute;
  bottom: -15px;
}
.section6 .text p {
  margin: 70px;
  color: #9e9e9e;
}
.section6 img {
  width: 400px;
}
/* start media section5 */
@media (max-width: 991px) {
  .section6 .container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .section6 .container {
    display: flex;
    flex-direction: column;
  }

  .section6 img {
    width: 300px;
  }
}
/* end section6 */
/* start section 7 */
.section7 {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}
.section7 .title {
  text-align: center;
  font-weight: 100;
  position: relative;
  margin: 40px;
}
.section7 .title::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  text-align: center;
  background-color: #bf7810;
  bottom: -15px;
  left: 47%;
}
.section7 .title span {
  letter-spacing: -10px;
}
.section7 p {
  text-align: center;
  color: #9e9e9e;
  margin: 10px;
}
.section7 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.section7 .card {
  padding-top: 40px;
  text-align: center;
}

.section7 .card i {
  color: #bf7810;
  font-size: 40px;
  margin: 20px;
  border-radius: 50%;
  border: 1px solid;
  padding: 10px;
}

.section7 .card h2 {
  margin: 20px;
}
.section7 .card p {
  margin: 20px;
}

/* end section7 */
/* start section 8 */
.section8 {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #ddd;
}
.section8 .title {
  text-align: center;
  font-weight: 100;
  position: relative;
  margin: 40px;
}
.section8 .title::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  text-align: center;
  background-color: #bf7810;
  bottom: -15px;
  left: 47%;
}
.section8 p {
  text-align: center;
  color: #9e9e9e;

  height: 50px;
}
.section8 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.section8 .card {
  background: white;
  text-align: center;
  height: 100%;
  position: relative;
  top: 50px;
}
.section8 .active-card {
  background: white;
  position: relative;
  top: 31px;
  height: 104%;
}
.section8 .active-card .part-card {
  position: relative;
  height: 280px;
}
.section8 .active-card .part-card::before {
  content: "OUR MOST POPULAR";
  position: absolute;
  left: 0%;
  padding: 15px;
  width: 92%;
  text-align: CENTER;
  margin: 0px;
  padding-top: 10px;
}
.section8 .active-card .part-card .par {
  margin-top: 60px;
}

.section8 .part-card {
  background: #000000cf;
  color: white;
  position: relative;
  top: -10px;
  position: relative;
  height: 280px;
}
.section8 .part-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: orange;
  bottom: 0;
  left: -4px;
}

.section8 .part-card h3 {
  position: relative;
  margin: 10px;
  text-align: center;
  width: 309px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.section8 .part-card h3::before {
  content: "";
  position: absolute;
  width: 116%;
  height: 1px;
  background: white;
  bottom: -1px;
  left: -3%;
}
.section8 .part2-card {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.section8 .part2-card p {
  font-size: 90px;
  font-weight: bold;
  color: white;
}

.section8 .part2-card span {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 50px;
}

.section8 .part-card .par {
  color: #ddd;
  margin-top: 100px;
}
/* end section 8 */
/* start ection 9 */
.section9 {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}
.section9 .title {
  text-align: center;
  font-weight: 100;
  position: relative;
  margin: 40px;
}
.section9 .title span {
  letter-spacing: -10px;
}
.section9 .title::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  text-align: center;
  background-color: #bf7810;
  bottom: -15px;
  left: 47%;
}

.section9 p {
  text-align: center;
  color: #9e9e9e;
  padding-top: 30px;
  margin: 20px;
}
.section9 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.section9 .card .work {
  background: #eee;
  width: 84%;
  color: black;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-weight: 100;
}
.section9 .card .work::before {
  content: "";
  position: absolute;
  bottom: -39px;
  border-style: solid;
  border-width: 20px;
  border-color: #eee transparent transparent transparent;
  left: 25px;
}
.section9 .card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -129px;
}
.section9 .card .img img {
  width: 60px;
  border-radius: 50%;
  margin: 10px;
}

.section9 .card .img p {
  background: none;
  padding: 0;
  width: 0;
  color: #9e9e9e;
  position: relative;
  top: 50px;
  left: -90px;
}

/* end section9 */
/* start section 10 */
.section10 {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  background: url(../photo/IMG_20221023_204828_014.png);
  background-size: cover;
  height: 0px;
}
.section10 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section10 h1 {
  color: white;
  font-weight: 100;
  position: relative;
  bottom: 120px;
}
.section10 h1::before {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 19%;
  height: 2px;
  background: white;
  left: 40%;
}
.section10 p {
  color: white;
  font-weight: 100;
  position: relative;
  bottom: 50px;
}
.section10 button {
  color: white;
  border: 1px solid;
  padding: 10px;
  background: none;
}
/* end section 10 */
/* start contact */
.contact {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}
.contact .title {
  text-align: center;
  font-weight: 100;
  position: relative;
  margin: 40px;
}
.contact .title::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  text-align: center;
  background-color: #bf7810;
  bottom: -15px;
  left: 47%;
}
.contact p {
  text-align: center;
  color: #9e9e9e;
  padding-top: 30px;
  margin: 20px;
}
.contact .container {
  display: flex;
  justify-content: space-around;
}
.contact form {
  display: flex;
  flex-direction: column;
}

.contact form input {
  margin: 20px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  padding: 20px;
}
.contact form input::placeholder {
  color: #9e9e9e;
}
.contact form input:focus {
  outline: none;
}
.contact form button {
  text-align: center;
  align-items: center;
  position: relative;
  left: 100%;
  margin: 20px;
  padding: 10px;
  border: none;
  color: white;
  background-color: #bf7810;
}
.contact textarea {
  padding: 30px;
  height: 280px;
  position: relative;
  top: 50px;
  border: none;
}

.contact textarea:focus {
  outline: none;
}
/* start media contact */
@media (max-width: 992px) {
  .contact .container {
    display: flex;
    flex-direction: column;
  }
  .contact form {
    display: flex;
    flex-direction: column;
  }
  .contact form button {
    position: relative;
    left: 50%;
  }
}
@media (max-width: 768px) {
  .contact .container {
    display: flex;
    flex-direction: column;
  }
  .contact form {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .contact form button {
    position: relative;
    left: 0%;
  }
}
/* end contact */
/* start footer */
.footer {
  position: relative;

  background-color: black;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .icon {
  margin: 10px;
}
.footer .icon i {
  margin: 20px;
  color: #9e9e9e;
  font-size: 40px;
}
.footer p {
  color: #9e9e9e;
  font-size: 20px;
}
/* start footer media*/
@media (max-width: 768px) {
  .footer .icon i {
    margin: 5px;
  }
}
/* end footer */
